.group-container {
    color: #333333;
    padding: 2% 0px;
    border-bottom: 1px solid #BFBFBF;
    >.group-title {
        color: #7A797A;
        font-size: 14px;
        padding: 0 0 5px 3%;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    >.group-list {
        padding: 0px 2%;
        overflow-x: scroll;
        overflow-y: hidden;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
        >.chart-card {
            width: 37%;
            margin-right: 2%;
            display: inline-block;
            position: relative;
            .card-title {
                width: 100%;
                position: absolute;
                text-align: center;
                color: #333333;
                font-size: 12px;
                bottom: 8%;
            }
        }
        >.chart-card:last-child {
            margin-right: 0px;
        }
    }
}

    
    
.tabs-container {
    height: calc(100% - 45px);
}
.iframe-container {
    width: 100%;
    height: 100%;
    margin: 0px;
    -webkit-overflow-scrolling: touch; 
    overflow-y: scroll; 
}

.options-container {
    color: #333333;
    text-align: left;
    .tag-group {
        margin-bottom: 5px;
    }
    .segmented-group {
        float: right;
        display: inline-block;
        width: 150px;
        margin-top: -5px;
        margin-right: 10px;
        >div.am-segment>div.am-segment-item {
            height: 25px;
        }
    }
    .options-time {
        border-bottom: 1px solid #ddd;
        >div>div.am-list-item {
            padding: 0px;
        }
    }
    >div:first-child{
        margin-bottom: 10px;
        border-bottom: 1px solid #ddd;
    }
    >div {
        padding: 5px 10px;
    }
}

.chart-tab-bar {
    font-family: "PingFangSC-Regular";
    color: #999999;
    font-size: 13px;
    line-height: 20px;
    padding: 0px 8px;
}
.chart-tab-bar-active {
    color: #FFFFFF;
    background-color: #61A6D3;
    border-radius: 10px;
}

.am-tabs-tab-bar-wrap {
    box-shadow: 0 -2px 5px 0 rgba(201,201,201,0.40) !important;
}

.ecota-navbar{
    position: absolute;
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 20px;
    color: #666666;
    z-index: 99;
    :last-child {
        float: right;
    }
}
#echart-card {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}


